@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color-white: rgb(255, 255, 255);
  --primary-color-maintheme: rgb(0, 97, 95);
  --primary-color-maintheme-hover: rgb(0, 80, 78);
  --primary-color-secondarytheme: rgb(241, 165, 0);
  --primary-color-secondarytheme-hover: rgb(230, 153, 0);
  --primary-background-theme: rgb(253, 253, 253);
  --secondary-color-light: rgb(249, 243, 240);
  --highlight-color: rgb(255, 251, 155);
  --btn-padding: 0.5rem 1rem;
  --btn-border: 1px solid;
  --secondary-color-text: rgb(102, 102, 102);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--primary-background-theme);

  font-family: "Poppins", sans-serif;
}

li {
  list-style: none;
}

svg {
  margin: none;
}

/* ========== miscellaneous ========= */
.scroll-hidden {
  overflow-y: scroll;
}
/* make the scroll bar disappear */
.scroll-hidden::-webkit-scrollbar {
  display: none;
}

/* 設定滾動條的寬度 */
.custom-scrollbar::-webkit-scrollbar {
  width: 0.5rem;
}

/* 設定滾動條滑塊的樣式 */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 0.5rem;
}

/* 設定滾動條軌道的樣式 */
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0.5rem;
}

/* 可選：設定滾動條按鈕的樣式 */
.custom-scrollbar::-webkit-scrollbar-button {
  /* background-color: #ccc;
  border-radius: 50%; */
}
